* {
    box-sizing: border-box;
}

.a {
    background-color: aquamarine;
    border: solid 2px black;
    height: 30vh;
}

.b {
    background-color: rgb(17, 41, 194);
    border: solid 2px black;
    height: 30vh;
}

.c {
    background-color: rgb(252, 252, 0);
    border: solid 2px black;
    height: 30vh;
}